[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
requests = "*"
pypdf = "*"
bokeh = "==3.2.1"
pandas = "*"
scikit-learn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
